//전반적인 공통 클래스
@import url('https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css');

/* Global Colors */
:root {
  --background-color: #ffffff;
  --default-color: #212529;
  --heading-color: #2d465e;
  --accent-color: #e0e621;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;
}

/* Nav Menu Colors */
:root {
  --nav-color: #ffffff;
  --nav-hover-color: #e0e621;
  --nav-mobile-background-color: #ffffff;
  --nav-dropdown-background-color: #ffffff;
  --nav-dropdown-color: #212529;
  --nav-dropdown-hover-color: #e0e621;
}

.light-background {
  --background-color: #f9f9f9;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #060606;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --accent-color: #2ea359;
  --surface-color: #252525;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: vh3;
  position: relative;
}

.section-title h2 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.section-title p {
  font-size: 1.2rem;
  line-height: 1.55;
  color: #6a6a6a;
  margin-bottom: 0;
}